<footer style="margin-top: 60px; padding: 20px; background-color: #333; color: #fff; text-align: center;">
    <div>
      <h4>Connect with us</h4>
      <a href="https://twitter.com/intnsity" target="_blank" style="color: #1DA1F2; margin-right: 10px;">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.facebook.com/intnsity" target="_blank" style="color: #4267B2; margin-right: 10px;">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.linkedin.com/company/intnsity" target="_blank" style="color: #2867B2;">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <div style="margin-top: 20px;">
      &copy; 2023 Intnsity. All rights reserved.
    </div>
</footer>
  